<launch>
  <arg name="config_root" default="$(optenv UAV_CONFIG_DIR /opt/uav/configs)" />

  <arg name="livox_bd_list" default="$(optenv LIVOX_BD_LIST 147MDLC40020242)" />
  <arg name="livox_frame_id" default="$(optenv LIVOX_FRAME_ID livox_frame)" />
  <arg name="livox_publish_freq" default="$(optenv LIVOX_PUBLISH_FREQ 20.0)" />

  <arg name="fcu_url" default="$(optenv FCU_URL /dev/ttyTHS0:115200)" />
  <arg name="gcs_url" default="$(optenv GCS_URL udp://@192.168.110.227:14550)" />
  <arg name="tgt_system" default="$(optenv MAVROS_TGT_SYSTEM 1)" />
  <arg name="tgt_component" default="$(optenv MAVROS_TGT_COMPONENT 1)" />
  <arg name="fcu_protocol" default="$(optenv MAVROS_FCU_PROTOCOL v2.0)" />
  <arg name="log_output" default="$(optenv MAVROS_LOG_OUTPUT screen)" />
  <arg name="respawn_mavros" default="$(optenv MAVROS_RESPAWN false)" />
  <arg name="enable_high_rate_odom_ekf" default="$(optenv ENABLE_HIGH_RATE_ODOM_EKF true)" />
  <arg name="high_rate_odom_ekf_imu_topic" default="$(optenv HIGH_RATE_ODOM_EKF_IMU_TOPIC /livox/imu)" />
  <arg name="high_rate_odom_ekf_odom_topic" default="$(optenv HIGH_RATE_ODOM_EKF_ODOM_TOPIC /tyi/e100/fastlio2/odom)" />
  <arg name="high_rate_odom_ekf_output_topic" default="$(optenv HIGH_RATE_ODOM_EKF_OUTPUT_TOPIC /tyi/e100/ekf_odom)" />

  <node name="livox_lidar_publisher2"
        pkg="livox_ros_driver2"
        type="livox_ros_driver2_node"
        output="screen"
        required="true"
        args="$(arg livox_bd_list)">
    <param name="xfer_format" value="1" />
    <param name="multi_topic" value="0" />
    <param name="data_src" value="0" />
    <param name="publish_freq" type="double" value="$(arg livox_publish_freq)" />
    <param name="output_data_type" value="0" />
    <param name="cmdline_str" type="string" value="$(arg livox_bd_list)" />
    <param name="cmdline_file_path" type="string" value="livox_test.lvx" />
    <param name="user_config_path" type="string" value="$(arg config_root)/livox/MID360_config.json" />
    <param name="frame_id" type="string" value="$(arg livox_frame_id)" />
    <param name="enable_lidar_bag" type="bool" value="true" />
    <param name="enable_imu_bag" type="bool" value="true" />
  </node>

  <rosparam file="$(arg config_root)/fastlio2/mid360.yaml" command="load" />
  <param name="feature_extract_enable" type="bool" value="false" />
  <param name="point_filter_num" type="int" value="3" />
  <param name="max_iteration" type="int" value="3" />
  <param name="filter_size_surf" type="double" value="0.5" />
  <param name="filter_size_map" type="double" value="0.5" />
  <param name="cube_side_length" type="double" value="1000" />
  <param name="runtime_pos_log_enable" type="bool" value="false" />

  <node name="fastlio2_odom"
        pkg="fast_lio"
        type="fastlio_mapping"
        launch-prefix="/opt/uav/base_stack/workspace/src/uav_base_bringup/scripts/wait_for_livox_ready.sh"
        respawn="true"
        respawn_delay="2"
        output="screen" />

  <node name="high_rate_odom_ekf"
        pkg="uav_base_bringup"
        type="high_rate_odom_ekf.py"
        if="$(arg enable_high_rate_odom_ekf)"
        respawn="true"
        respawn_delay="2"
        output="screen">
    <param name="imu_topic" type="string" value="$(arg high_rate_odom_ekf_imu_topic)" />
    <param name="odom_topic" type="string" value="$(arg high_rate_odom_ekf_odom_topic)" />
    <param name="output_topic" type="string" value="$(arg high_rate_odom_ekf_output_topic)" />
    <param name="output_frame_id" type="string" value="robot/odom" />
    <param name="output_child_frame_id" type="string" value="base_link" />
    <param name="max_lio_age_sec" type="double" value="3.0" />
    <param name="position_cov" type="double" value="0.02" />
    <param name="orientation_cov" type="double" value="0.02" />
    <param name="gyro_noise" type="double" value="0.05" />
    <param name="accel_noise" type="double" value="0.35" />
    <param name="gyro_bias_random_walk" type="double" value="0.0005" />
    <param name="accel_bias_random_walk" type="double" value="0.005" />
    <param name="use_imu_accel_for_position" type="bool" value="false" />
    <param name="odom_velocity_gain" type="double" value="0.85" />
    <param name="velocity_random_walk" type="double" value="0.20" />
    <param name="buffer_sec" type="double" value="5.0" />
    <param name="max_replay_sec" type="double" value="2.5" />
    <param name="imu_queue_size" type="int" value="40" />
    <param name="odom_queue_size" type="int" value="5" />
    <param name="publish_queue_size" type="int" value="100" />
    <param name="publish_rate_hz" type="double" value="0.0" />
    <param name="reject_position_threshold_m" type="double" value="0.5" />
  </node>

  <node pkg="fastlio_to_mavros"
        type="fastlio_to_mavros"
        name="fastlio_to_mavros"
        launch-prefix="/opt/uav/base_stack/workspace/src/uav_base_bringup/scripts/wait_for_lio_ready.sh"
        output="screen"
        respawn="true"
        respawn_delay="2">
    <env name="LIO_ODOM_TOPIC" value="/tyi/e100/ekf_odom" />
    <env name="LIO_ODOM_MIN_HZ" value="10" />
    <rosparam file="$(arg config_root)/fastlio_to_mavros/bridge.yaml" command="load" />
  </node>

  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(arg config_root)/mavros/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(arg config_root)/mavros/px4_config.yaml" />
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
    <arg name="respawn_mavros" value="$(arg respawn_mavros)" />
  </include>
</launch>
