<launch>
  <arg name="mission" default="status" />
  <arg name="auto_start" default="false" />

  <node pkg="mission_control" type="mission_main" name="mission_main" output="screen"
        args="_mission:=$(arg mission) _auto_start:=$(arg auto_start)">
    <rosparam command="load" file="$(find mission_control)/config/mission_control.yaml" />
  </node>
</launch>
