<launch>
  <arg name="drone_id" default="0" />
  <arg name="odom_topic" default="/tyi/e100/fastlio2/odom" />
  <arg name="livox_topic" default="/livox/lidar" />
  <arg name="cmd_output_topic" default="/tyi_planner/mavros/setpoint_raw/local_shadow" />
  <arg name="enable_acceleration" default="false" />
  <arg name="flight_type" default="1" />
  <arg name="target_x" default="2.0" />
  <arg name="target_y" default="0.0" />
  <arg name="target_z" default="1.0" />
  <arg name="max_vel" default="0.8" />
  <arg name="max_acc" default="1.2" />
  <arg name="point_stride" default="6" />

  <node pkg="tyi_planner_bridge" type="odom_relay" name="planner_odom_relay" output="screen">
    <param name="input_topic" value="$(arg odom_topic)" />
    <param name="output_topic" value="/drone_$(arg drone_id)_visual_slam/odom" />
    <param name="output_frame_id" value="world" />
    <param name="output_child_frame_id" value="body" />
  </node>

  <node pkg="tyi_planner_bridge" type="livox_to_world_cloud" name="planner_livox_to_world_cloud" output="screen">
    <param name="livox_topic" value="$(arg livox_topic)" />
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="output_topic" value="/drone_$(arg drone_id)_planner/cloud" />
    <param name="output_frame_id" value="world" />
    <param name="point_stride" value="$(arg point_stride)" />
    <param name="min_range" value="0.8" />
  </node>

  <node pkg="tyi_planner_bridge" type="bspline_to_path_bridge" name="planner_bspline_to_path_bridge" output="screen">
    <param name="input_topic" value="/broadcast_bspline" />
    <param name="output_topic" value="/tyi_planner/predicted_path" />
    <param name="output_frame_id" value="world" />
    <param name="sample_dt" value="0.05" />
    <param name="publish_hz" value="20.0" />
    <param name="max_points" value="180" />
  </node>

  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="drone_id" value="$(arg drone_id)" />

    <arg name="map_size_x_" value="16.0" />
    <arg name="map_size_y_" value="16.0" />
    <arg name="map_size_z_" value="4.0" />

    <arg name="odometry_topic" value="visual_slam/odom" />
    <arg name="camera_pose_topic" value="unused/camera_pose" />
    <arg name="depth_topic" value="unused/depth" />
    <arg name="cloud_topic" value="planner/cloud" />

    <arg name="cx" value="320.0" />
    <arg name="cy" value="240.0" />
    <arg name="fx" value="387.0" />
    <arg name="fy" value="387.0" />

    <arg name="max_vel" value="$(arg max_vel)" />
    <arg name="max_acc" value="$(arg max_acc)" />
    <arg name="planning_horizon" value="6.0" />

    <arg name="point_num" value="1" />
    <arg name="point0_x" value="$(arg target_x)" />
    <arg name="point0_y" value="$(arg target_y)" />
    <arg name="point0_z" value="$(arg target_z)" />
    <arg name="point1_x" value="0.0" />
    <arg name="point1_y" value="0.0" />
    <arg name="point1_z" value="0.0" />
    <arg name="point2_x" value="0.0" />
    <arg name="point2_y" value="0.0" />
    <arg name="point2_z" value="0.0" />
    <arg name="point3_x" value="0.0" />
    <arg name="point3_y" value="0.0" />
    <arg name="point3_z" value="0.0" />
    <arg name="point4_x" value="0.0" />
    <arg name="point4_y" value="0.0" />
    <arg name="point4_z" value="0.0" />

    <arg name="flight_type" value="$(arg flight_type)" />
    <arg name="use_distinctive_trajs" value="false" />
    <arg name="obj_num_set" value="0" />
  </include>

  <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
    <remap from="position_cmd" to="drone_$(arg drone_id)_planning/pos_cmd" />
    <remap from="~planning/bspline" to="drone_$(arg drone_id)_planning/bspline" />
    <param name="traj_server/time_forward" value="1.0" type="double" />
  </node>

  <node pkg="tyi_planner_bridge" type="position_command_to_mavros" name="planner_position_command_to_mavros" output="screen">
    <param name="input_topic" value="/drone_$(arg drone_id)_planning/pos_cmd" />
    <param name="output_topic" value="$(arg cmd_output_topic)" />
    <param name="use_acceleration" value="$(arg enable_acceleration)" />
  </node>
</launch>
